body{
	font-size: 0px;
	background: #F4F4F4;
	margin: 0;
}
p,h1{
	margin: 0px;
}
#All{
	width: 1300px;
	margin: 0px auto;
}
.Nav{
	display: inline-block;
	width: 1300px;
	height: 100px;
}
#Nav_one{
	margin-bottom: 20px;
}
.Nav > div{
	vertical-align: top;
	margin-right: 20px;
	display: inline-block;
	width: 310px;
	height: 100px;
	background: #fff;
}
#Collect{
	line-height: 25px;
	width: 72px;
	height: 25px;
	font-size: 18px;
	color: #333333;
	font-family: PingFangSC-Medium;
	margin-top: 160px;
	margin-bottom: 20px;
}
.Img{
	display: inline-block;
}
.title{
	vertical-align: top;
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #333333;
}
.t1{
	margin-top: 20px;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 100;
}
.t2{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #C4C4C4;
	width: 190px;
}
img{
	width: 60px;
	height: 60px;
	margin: 20px;
}
.block{
	border-radius: 5px;
}

