/*设置全局字体*/
*{
    font-family: 'PingFangSC-Medium';
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(196, 214, 214, 0.507);
    margin: 0;
}
img{
    height: 30px;
    width: 30px;
    padding-top: 15px;
}
/*搜索*/
.head{
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
}
.input{
    box-sizing: border-box;
    padding: 0 16px;
    border: 0;
    border-radius: 4px;
    width: 480px;
    height: 36px;
}
.btn{
    outline:none;
    cursor: pointer;
    vertical-align: bottom;
    height: 36px;
    width: 120px; 
    border: 0;
    border-radius: 5px;
    margin-left: 20px;
    color: white;
    background-color: #3F5DEA;
}
/*我的收藏*/
.collection-wrap{
    margin-left: 310px;
    margin-top: 40px;
    /* margin-top: 160px; */
}
.title{
    color: #333333;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
.link{
    display: flex;
    flex-wrap: wrap;
}
.link-a{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 310px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 4px;
    transition: background-color .1s, box-shadow .2s;
}
.storage{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin-left: 20px;
    background-color: #3F5DEA;
    text-align: center;
    /* line-height: 60px; */
}
.content{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.content-title{
    width: 190px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333333;
}
.content-text{
    margin-top: 6px;
    font-size: 12px;
    color: #C4C4C4;
    width: 190px;
    overflow: hidden;
}
/*添加收藏图案*/
.add-wrap-btn{
    cursor: pointer;
    position: fixed;
    right: 48px;
    bottom: 48px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #3F5DEA;
    text-align: center;
    line-height: 80px;
}
.add-img{
    padding: 0;
    margin-top: 2px;
    transition: transform .4s;
}
/*添加收藏弹窗*/
.add-wrap{
    position: absolute;
    margin: 0 35%;
    margin-top: 340px;
    width: 480px;
    background-color: #FFF;
    border-radius: 4px;
}
.add-content{
    width: 440px;
    margin: 20px;
    padding-bottom: 40px;
}
.add-content-div{
    margin-bottom: 20px;
}
.add-content-div h6{
    margin: 0;
    font-size: 14px;
    color: #333333;
}
.add-input{
    margin-top: 4px;
    width: 440px;
    border: 1px solid #E7E7E7;
    /* border-color: #E7E7E7; */
}
.add-btn-cancel{
    margin-left: 16px;
    float: right;
    background-color: #FFF;
    border: 1px solid #E7E7E7;
    color: #333;
}
.add-btn-determine{
    float: right;
    color: #FFF;
}
#add{
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .1s ease;
}
#errorInformation{
    position: absolute;
    padding-top: 5px;
    right: 150px;
    width: 150px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(236, 13, 13, 0.836);
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s;
}
/*鼠标效果*/
.link-a:hover{
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.308);
    background-color: rgba(156, 239, 245, 0.39);
    /* height: 100%; */
}
.head .btn:hover{
    background-color: #738BFF
}
.head .btn:active{
    background-color: #1A33A6 ;
}
.add-wrap-btn:hover img{
    transform: rotate(180deg);
}