	  *{ margin:0px;}
    .title{width: 72px;
           height:25px;
           margin-top:160px;
           margin-left: 310px;
           line-height: 25px;
           margin-bottom: 20px;

          }
    /*大盒子*/
     .contain{width:1500px;
             height: auto;
             margin-left: 310px;
            letter-spacing: -0.5em;
             }   
    .box{width:270px;
         height:60px;
         background:#ffffff;  
         border-radius: 4px;
         padding: 20px;
         display: inline-block;
         letter-spacing: -0.5em;
         margin-right: 20px;
         vertical-align: top;
         margin-bottom: 20px;
         }
     .box-icon{width: 60px;
               height: 60px;
               margin: 0px;
               background:#3F5DEA;
               border-radius: 100%; 
               display: inline-block;
               vertical-align: top;
               

               } 
   .box-icon-a{ width: 32px;
                height: 32px;
                margin-top: 17px;
                letter-spacing: -0.5em;
                margin: 14px;
              
                 }          
    .box-part2{display: inline-block;
               margin-left: 20px;
               width: 190px; 
               height: 60px;
               box-sizing: border-box;
               letter-spacing: normal;
               }
    .box-font{ margin: 0px;
               overflow: hidden;
              font-size: 14px;
               line-height: 20px;
               color: #333333;
               overflow: hidden;
              }
     .box-p{    width: 190px;
                height: 34px;
                margin-top:6px; 
                font-size: 12px;
                color: #C4C4C4; 
                 overflow:hidden;
                }
      a:link,a:visited{text-decoration: none;color:black; } 
      a:hover,a:active{text-decoration: underline;color: red;}    
 
     @media screen and (max-width: 600px){
      .title{margin-left: 20px;}
      .contain{width: 80%;margin:0 auto;}
      .box{width: 30%; height: 50%}
      .box-p{width: 50%;overflow: hidden;}
     }