.login-img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    z-index: 5;
}
.divremember{
    font-size: 0;
    display: inline-block;
    margin-top: 20px;
    margin-left: 64px;
}
.labremember{
    font-size: 13px;
}
.divforget{
    display: inline-block;
    box-sizing: border-box;
    margin-left: 195px;
}
.divlogin{
    margin-top: 15px;
    padding-left: 66px;
}
#login-visimg{
    width: 20px;
    height: 15px;
    position: relative;
    z-index: 5;
    left: -55px;
    top: 5px;
    cursor: pointer;
}
#input{
    position: relative;
    z-index: 1;
    padding-left: 27px;
    left: -25px;
}
#password{
    position: relative;
    z-index: 1;
    padding-left: 26px;
    left: -25px;
}
#remember{
    margin-bottom: 0;
    vertical-align: bottom;
}
#login{
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    border-color: rgb(33, 149, 202);
    padding: 5px;
    width: 120px;
    background-color: rgb(33, 149, 202);
    color: #fff;
    font-size: 20px;
    transition: background-color .3s;
}
#aregister{
    display: inline-block;
    text-decoration: none;
    margin-left:70px; 
    padding: 5px 40px;
    border: 1px solid rgba(49, 48, 48, 0.541);
    border-radius: 5px; 
    font-size: 20px;
    color: rgb(71, 69, 69);
    transition: background-color .3s;
}
/*悬停事件*/
#login:hover{
    background-color: rgb(28, 180, 250);
}
#aregister:hover{
    background-color: rgba(185, 177, 177, 0.767);
}
