body{
    min-width: 100px;
    background-image: url("../img/1.jpg") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
html{
    height: 100%;
}
header{
    margin-top: 130px;
}
.outermost{
    width: 450px;
    margin: 0 auto;
    padding-bottom: 60px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.719);
}
.title{
    margin-bottom: 40px;
    padding-top: 60px;
    text-align: center;
    color: rgba(46, 44, 44, 0.89);
}
.inside{
    margin-top: 20px;
}
.lab{
    font-size: 20px;
    color: rgba(37, 34, 34, 0.877);
    margin-left: 66px;
    transition: all .3s;
}
.put{
    width: 250px;
    border-radius: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    height: 30px;
    caret-color: rgb(46, 171, 230);
    transition: height .3s;
}
.ahref{
    text-decoration: none;
    font-size: 14px;
    color: rgb(16, 127, 179);
}
/*悬停事件*/
.ahref:hover{
    border-bottom: 1px solid rgb(33, 149, 202);
}
.put:focus{
    height: 37px;;
    font-size: 15px;
}