.reput{
    margin-left: 97px;
}
#a_email{
    display: inline-block;
    margin-top: 10px;
    margin-left: 290px;
}
#send_sms{
    display: inline-block;
    position: relative;
    z-index: 5;
    top: 3px;
    right: 80px;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(33, 149, 202); 
    transition: background-color .3s;
}
#divregister{
    margin-top: 10px;
}
#inregister{
    cursor: pointer;
    margin-left: 97px;
    padding: 8px 116px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: rgb(33, 149, 202);
    transition: background-color .3s;
}
#relogin{
    display: inline-block;
    margin-top: 6px;
    margin-left: 235px;
}
#send_sms:hover{
    background-color: rgb(21, 173, 243);
}
#inregister:hover{
    background-color: rgb(21, 173, 243);
}