body{
    margin: 0;
}
header{
    margin-top: 10%;
}
.head{
    width: 600px;
    margin-left: 20%;
}
.content{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.content_a{
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    width: 25%;
}
.content_a_a{
    margin-left: 40px;
}
.content_a_logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
}
.content_logo_img{
    margin-top: 10px;
    width: 60%;
    height: 60%;
}
.content_text{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 10px;
    width: 100px; 
}
.content_text_title{
    color: black;
    margin: 0;
    font-size: 1.2em;
}
.content_text_explain{
    margin: 0;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.678);
}
.content_a:hover{
    background-color: rgba(65, 141, 116, 0.151);
}