<style type="text/css">
*{
	margin: 0;
	padding:0;
}
body{
	background: #1d47b1; 
}
#container{
	width: 350px;
	height: 458px;
	background: #fff;
	margin:auto;
	margin-top: 200px;
	border:1px solid transparent;
	border-radius: 8px;
	position: relative; 
}
.nav-head{
	width:80px;
	height: 80px;
	margin:50px auto;
	border-radius:80px;
	background: #ccc;
}
h2{
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #333;  
	margin-bottom: 15px;
}
#container input{
	width: 280px;
	height: 36px; 
	margin-bottom: 15px;
	color: #c4c4c4;
	padding-left: 8px;
	border-radius:4px;
	border:1px solid #ccc;
	box-sizing: border-box;
}
#container input:focus{
	border:1px solid #3F5DEA;  v 
}
.nav-content{
	position: absolute;
	left: 30px;
}
.sign-buttom{
	width: 280px;
	height: 36px;
	background: #3F5DEA ;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: white;
	font-family: PingFangSC-Medium;
	border-radius: 4px;
	cursor:pointer;
	margin-bottom: 15px;
}
.left{
	float: left;
	color:#c4c4c4;
	font-size: 14px;
	text-decoration:none;
}
.right{
	color: #3F5DEA;
	font-size: 14px;
	float: right;
	text-decoration: none;
}

</style>