	*{
		margin: 0;
		padding:0;
	}
	body{
		background: #f4f4f4;
	}
	.main-content{ 
		width: 1315px;
		margin:205px auto;
		font-size:0;
	}
	h1{
		color:#333;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.container{
		width:310px;
		height: 100px;
		background: white;
		display: inline-block;
		border-radius: 4px;
		margin-right: 20px; 
		margin-bottom: 20px;
		cursor: pointer;
		padding:20px;
		box-sizing: border-box;
	}
	.container:hover{
		background: #d0e9ff;
		box-shadow: 0 1px 8px #ccc;
		transition:box-shadow .1s linear 0; 
	}
	.container:nth-of-type(4n){
		margin-right: 0;
	}
	.innercontainer{
		width: 190px;
		display: inline-block;
		vertical-align: top;
	}
	
	.nav-block-title{
		font-size: 14px;
		color: black;
		margin-bottom: 6px;
	}
	.head-img{
		width: 60px;
		height: 60px;
		display: inline-block;
		background:#EE6363;
		border-radius: 60px;
		text-align: center;
		line-height: 60px; 
		margin-right: 20px;
	}
	img{
		width:30px;
		height:30px;
		vertical-align: middle;
	}
	.nav-block-description{
		font-size: 12px;
		color: #c4c4c4;
	}