body {
	background: #F4F4F4 ;
}
#big {
	display: flex;
	flex-direction: column;
	width: 1300px;
	height: 265px;
	margin: 160px auto;
}
#big h2 {
	margin: 0 0 20px 0; 
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #333333;
}
#bottom {
	display: flex;
	flex-wrap: wrap;
	width: 1300px;
	height: 220px;
}
.small {
	display: flex;
	width: 310px;
	height: 100px;
	padding: 20px 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background: white;
	box-sizing: border-box;
} 
.small:nth-of-type(4n) {
	margin-right: 0;
} 
.small-image {
	width: 60px;
	height: 60px;
}
.small-text {
	display: flex;
	flex-direction: column;
	width: 190px;
	height: 60px;
	vertical-align: top;
}
.small-text-a {
	margin:0 0;
	margin-bottom: 6px;
	font-size: 14px;
}
.small-text-p {
	font-size: 12px;
	margin: 0 0;
}

