*{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: inherit;
}
a{
    text-decoration: none;
    margin-top: 20px;
}
.page{
    width: 1920px;
    height: 1080px;
    background: #F4F4F4;
    margin: 0 auto;
    overflow: hidden;
}
h1{
    margin-top: 160px;
}

.layout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 310px 0 310px;
}
.layout-main{
    display: flex;
    width: 1320px;
    flex-wrap: wrap;
}
.layout-container{
    height: 100px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.container{
    width: 310px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    margin-right: 20px;
}
.container-left{
    width:60px ;
    height: 60px;
}
.yuan{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: #3F5DEA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    width: 30px;
    height: 30px;
}
.title{
    font-size: 14px;
    color: #333333;
}
.describe{
    font-size: 12px;
    color: #C4C4C4;
}
.container-right{
    height: 60px;
    width: 190px;
    margin-left:20px;
}