*{
    margin: 0;
    padding: 0;
}
body{
    background: #F4F4F4;
    width:1920px;
    height: 1080px;
}
p{
    width: 72px;
    line-height: 25px;
    font-size: 18px;
    color: #333333;
    margin-top:160px;
    margin-left:310px;
}
.first{
    width: 1320px;
    height: 100px;
    margin-left: 290px;
    margin-top: 20px;
}
.second{
    width: 310px;
    height: 100px;
    background: #ffffff;
    margin-left:20PX;
    float: left;
    position: relative;
}
.three{
    width: 80px;
    height:80px;
    margin: 20px;
}
.four{
    width: 190px;
    height: 60px;
    position: absolute;
    left: 100px;
    top: 20px;
}
.five{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #3f5dea;
    margin: 10px;
}
.five img{
    width: 30px;
    height: 30px;
    margin: 15px;
}
.four h2{
    width: 80px;
    height: 20px;
    color:#333;
    font-size:14px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.four p{
    width: 190px;
    height: 40px;
    color:#c4c4c4;
    font-size:12px;
    overflow:hidden;
    margin:0;
    max-height:37px;
    line-height:17px;       /*字的位置*/
}