body{
    margin: 0px;
}
#game{
    width: 400px;
    height: auto;
    margin: 100px auto;
}
#Slime{
    display: block;
    width: 100px;
    margin: 0px auto;
}
#hp{
    margin: 50px auto;
    width: 300px;
    height: 20px;
    border:1px solid #000;
}
#hp-bar{
    transition: width .2s ease;
    background: rgb(233, 64, 64);
    width: 300px;
    height: 20.5px;
}
#attackbtn{
    display: block;
    margin: 0 auto;
}